{% block content %}
{% load static %}
<header style="background-image: url({% static 'resources/header-cover.png' %}); color:#333; background-size:cover;">
    <h1><i class="fas fa-university"></i> Greater Noida Institute Of Technology</h1>
    <a href="{% url 'we-are-gniotians' %}" style="text-decoration: none; color: #333;"><p><i class="fas fa-users"></i> Software Development Cell <i class="fas fa-users"></i></p></a>
</header>
<nav>
    <a href="{% url 'home' %}"><i class="fas fa-shop"> home</i></a>
    <a href="#developer"><i class="fas fa-code"></i> Developer</a>
    <a href="#manager"><i class="fas fa-user-tie"></i> Manager</a>
    <a href="#Executive"><i class="fas fa-suitcase"></i> Executive</a>
    <a href="#Director"><i class="fas fa-chess-king"></i> Director</a>
    <a href="#Analyst"><i class="fas fa-chart-bar"></i> Analyst</a>
    <a href="#Consultant"><i class="fas fa-hands-helping"></i> Consultant</a>
    <a href="#HOD"><i class="fas fa-chalkboard-teacher"></i> H-O-D</a>

    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a>
    {% endif %}
</nav>

{% endblock %}