<nav>
    <a href="{% url 'home' %}" title="Visit our homepage"><i class="fas fa-shop"> home</i></a>
    <a href="{% url 'staff' %}" title="Login to staff Area"><i class="fas fa-user"></i> Staff Login</a>
    <a href="{% url 'contact' %}" title="Contact our team"><i class="fas fa-envelope"></i> Contact Us</a>
    <a href="{% url 'products' %}" title="Browse our product catalog"><i class="fas fa-eye"></i> View Product</a>
    {% if user.is_authenticated %}
    <a href="{% url 'cart' %}" title="View your shopping cart"><i class="fas fa-shopping-bag"></i> Cart</a>
    <a href="{% url 'logout' %}" title="Logout from your account"><i class="fa fa-sign-out"></i> Logout</a>
    {% else %}
    <a href="{% url 'login_required' %}" title="Login to access your cart"><i class="fas fa-shopping-bag"></i> Cart</a>
    {% endif %}
    
</nav>
